<!DOCTYPE html>
<html>
  <head>
    <title>PLAYAround</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="headcard">
      <a href="/plays/">Plays</a>
      <img src="/drama_masks.png" height="60px">
      <a href="/productions/">Productions</a>
    </div>


    <div id="content">
      <%= yield %>
    </div>
  </body>
</html>
