<!DOCTYPE html>
<html>
  <head>
    <title>PlayAround</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>HI</h1>
    <div class="headcard">
   
    </div>


    <div id="content">
      <%= yield %>
    </div>
  </body>
</html>
